.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  
  border-radius: 50%;
  padding: 15px;
  width: 250px;
  margin-left: 40%;
  opacity: 0.9;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(245, 141, 245, 0.733);
  opacity: 1;
}
button {
  transition: all 0.5s;
  cursor: pointer;
  margin: 2%;
  border: 2px solid rgba(245, 141, 245, 0.733);
  border-radius: 12px;
  font-size:20px;
  padding:8px 30px
}

button:hover {
  background-color:rgba(245, 141, 245, 0.733);
  color: white;
}

.final{
  border-radius: 100px;
  border: 6px solid violet;

}
h1{
  text-align: center;
  color:rgb(129, 43, 129);
}
span{
  font-weight: lighter;
  color: black;
}